<head>
    <title>{{ title }} - csDB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> -->
    <link rel="shortcut icon" href="https://www.nba.com/favicon-32x32.png" type="image/png">

</head>

<body>
    <div id="background" >
        <div class="overlay"></div>
    </div>
    <div class="App-header">
        <!-- <img src="https://www.nba.com/apple-touch-icon.png" class="App-logo" alt="logo" /> -->
        <a href="http://localhost:5000/"><h1>csDB</h1></a>
    </div>
    <div class="App-body">
        <table>
            <tr>
                <td>
                    <input type="text" name="quantity" placeholder="quantity" required>
                </td>
                <td>
                    <input type="text" name="name" placeholder="name" required>
                </td>
                <td>
                    <select name="type">
                        {% for item in type_selection %}
                            <option value="{{item}}">{{item}}</option>
                        {% endfor %}
                      </select>
                </td>
                <!-- <td style="background-color: #0000"></td> -->
                <td>
                    <input type="hidden" name="steamid" value="{{steamid}}">
                    <button type="submit" >Submit</button>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <!-- <td><a href = "inventory/update"><img class="miniature" id='inverted' src="https://cdn-icons-png.flaticon.com/128/4140/4140115.png"></a></td> -->
                <td>Name</td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Total</td>
            </tr>
            {% for item in cursor %}
                <tr>
                    <td>{{item["name"]}}</td>
                    <td>{{item["quantity"]}}</td>
                    <td>{{item["price"]}}</td>
                    <td>{{item["total price"]}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

</body>
    
</html>
